@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: white;
  --theme-color-invert: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: black;
    --theme-color-invert: white;
}
}

.main {
  @apply h-[100vh] flex items-center justify-center text-4xl font-bold
}

.btn {
  @apply border-[1px] transition-all rounded-md p-4 border-transparent border-solid
}

